<% include layout.html %>
<% include %>
<div class="container">
    <h3 class="text-center">内容列表</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th class="text-center">分类</th>
            <th class="text-center">标题</th>
            <th class="text-center">时间</th>
            <th class="text-center">操作</th>
        </tr>
        <% for(var i in contents){%>
        <tr>
            <td class="text-center">
                <%= contents[i].category.name %>
            </td>
            <td class="text-center">
                <%= contents[i].title %>
            </td>
            <td class="text-center">
                <%= contents[i].addtime %>
            </td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    <a href="/admin/content/edit?id=<%= contents[i]._id %>" class="btn btn-default">修改</a>
                    <a href="/admin/content/delete?id=<%= contents[i]._id %>" class="btn btn-default">删除</a>
                </div>
            </td>
        </tr>
        <% }%>
    </table>
</div>
<% include %>