<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" type='text/css' href="/public/css/index.css" />
    <link rel="stylesheet" type='text/css' href="/public/css/font.css" />
    <link rel="stylesheet" type='text/css' href="/public/css/bootstrap.min.css" />
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="management-960">
        <nav class="navbar navbar-inverse">
            <!-- 后台管理 -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin">后台管理</a>
            </div>
            <!-- 用户管理 -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin/user">用户管理</a>
            </div>
            <!-- 分类管理 -->
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">分类管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/category">分类首页</a></li>
                            <li><a href="/admin/category/add">添加分类</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 内容管理 -->
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">内容管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/content">内容首页</a></li>
                            <li><a href="/admin/content/add">添加内容</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 退出管理 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <%=userInfo.username%> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="management-480">
        <ul class="nav nav-pills nav-stacked ">
            <li role="presentation"><a href="/admin">后台管理</a></li>
            <li role="presentation"><a href="/admin/user">用户管理</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">分类管理 <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/content">内容首页</a></li>
                    <li><a href="/admin/content/add">添加内容</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">内容管理 <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/content">内容首页</a></li>
                    <li><a href="/admin/content/add">添加内容</a></li>
                </ul>
            </li>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <%=userInfo.username%> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">退出</a></li>
                    </ul>
                </li>
        </ul>
    </div>
</body>

<script src="/public/js/index.js"></script>
</html>